


.get{
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    /* color: #fff; */
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}
.mmm{
    height: 70px;
    background-color: #37517e;
    
}
.navli{
    text-align: center;
    align-items: baseline;
    
}
.whi {
    color: white !important; 
  }
  
 
  .whi.active {
    font-weight: bold; 
  }


